/*.roadmap-center{
  position: relative;
}*/
.roadmap-timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
 }
.roadmap-content{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  margin: 9% 0;
}
/*.content-circle{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  margin: 9% 0;
}*/

.roadmap-text-box{
  padding: 20px 30px;
  position: relative;
  border: 6px;
  font-size: 15px;
  margin-top: 9%;
}

.left-content{
  left: 0;
}

.right-content{
  left: 50%;
}

.roadmap-content>img{
  position: absolute;
  width: 20%;
  border-radius: 50%;
  right: -10%;
  top: 32px;
  z-index: 10;
}
.right-content>img{
  left: -10%;
}

.roadmap-timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background:  linear-gradient(transparent, #3C2151);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
}

.roadmap-text{
  display: flex;
  align-items: center;
  gap: 5%;
  cursor: pointer;
}

.roadmap-text h4{
  font-family: 'Azonix';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  color: #1E1E1E;
}
.roadmap-text img{
  width: 7%;
}

.roadmap-p{
  margin-top: 10%;
}
.roadmap-text-left{
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: end;
}

.roadmap-text-left h4{
  font-family: 'Azonix';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  color: #1E1E1E;
}
.roadmap-text-left img{
  width: 7%;
}
.roadmap-p p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
}

.ocultar-roadmap{
  display: none;
}

.content-circle:nth-child(odd)::before {
  
  content: '';
  position: absolute;
  background-color: #271334;
  border-radius: 50%;
  border: 1px solid #271334;
  width: 2%;
  height: 21px;
  left: 49%;
  margin-top: 6.6%;
  z-index: 99;

}
.content-circle:nth-child(even)::before {
  
  content: '';
  position: absolute;
  background-color: #271334;
  border-radius: 50%;
  border: 1px solid #271334;
  width: 2%;
  height: 21px;
  left: 49%;
  margin-top: 6.6%;
  z-index: 99;

}
