.divisor {
  width: 100%;

  background: #1e1e1e;
}
.divisor .divisor_list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  color: #ffffff;
  gap: 3rem;
}
.divisor .divisor_list li {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  font-family: "Azonix";
 
}
