.Knowutility {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}
.Knowutility_first {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}
.Knowutility_first h1 {
  font-family: "Azonix";
  font-size: 6rem;
  margin-top: 13%;
  margin-bottom: 8%;
}
.Knowutility_cards {
  display: flex;
  align-items: flex-end;
  /*flex-wrap: wrap;*/ /*AJUSTAR EL TAMAÑO Y DISTRIBUCIÓN DE LAS CARDS ANTES DE USAR ESTA PROPIEDAD*/
  width: 100%;
  gap: 2rem;
}
.Knowutility_cards h3 {
  font-family: "Azonix";
  font-size: 1.5rem;
  color: #ffffff;
  margin-left: 2rem;
}
.Knoeutility_card {
  display: flex;
  align-items: flex-end;
  width: 24rem;
  height: 28rem;
  position: relative;

  background: radial-gradient(50% 50% at 50% 50%, #5BC6CB 0%, rgba(91, 198, 203, 0.52) 31.25%, rgba(91, 198, 203, 0) 100%),url(../../assets/images/landing/Noise.svg), conic-gradient(from 180deg at 50% 50%, #0D0146 0deg, #0D0146 90deg, #3307F0 180deg, #3307F0 270deg, #0D0146 360deg);
  border-radius: 50px;
  cursor: pointer;
}
.Knoeutility_card h3 {
  position: absolute;
  top: 90%;
  left: 30%;
  transform: translate(-50%, -110%);
  cursor: pointer;
}

.Knoeutility_card:hover h3 {
  top: 50%;
}

.Knoeutility_card:hover img {
  display: block;
}

.Knoeutility_card img {
  display: none;
  position: absolute;
  bottom:3rem;
  left: 70%;
  transform: translateX(-50%);
  transform: rotate(100deg);
  width: 15%;
  cursor: pointer;
}

.Knoeutility_cardhow {
  display: flex;
  align-items: flex-end;
  width: 24rem;
  height: 20rem;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #0D0146 0%, rgba(13, 1, 70, 0.84) 30.73%, rgba(110, 89, 215, 0) 94.31%),url(../../assets/images/landing/Noise.svg),conic-gradient(from 180deg at 50% 50%, #3307F0 0deg, #3307F0 90deg, #5BC6CB 180deg, #5BC6CB 270deg, #3307F0 360deg);
  border-radius: 50px;
  cursor: pointer;
}
.Knoeutility_cardhow h3, .Knoeutility_project h3, .Knoeutility_beneficios h3{
  position: absolute;
  top: 90%;
  left: 30%;
  transform: translate(-50%, -110%);
  cursor: pointer;
}
.Knoeutility_cardhow:hover h3, .Knoeutility_project:hover h3, .Knoeutility_beneficios:hover h3{
  top: 50%;
}
.Knoeutility_cardhow:hover img, .Knoeutility_project:hover img, .Knoeutility_beneficios:hover img{
  display: block;
}
.Knoeutility_cardhow img, .Knoeutility_project img, .Knoeutility_beneficios img{
  display: none;
  position: absolute;
  bottom:3rem;
  left: 70%;
  transform: translateX(-50%);
  transform: rotate(100deg);
  width: 15%;
  cursor: pointer;
}

.Knoeutility_project {
   display: flex;
  align-items: flex-end;
  width: 24rem;
  height: 25rem;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #3307F0 0%, rgba(51, 7, 240, 0.69) 31.25%, rgba(91, 198, 203, 0) 100%),url(../../assets/images/landing/Noise.svg),conic-gradient(from 180deg at 50% 50%, #5BC6CB 0deg, #5BC6CB 90deg, #5BC6CB 180deg, #3307F0 270deg, #5BC6CB 360deg);
  border-radius: 50px;
  cursor: pointer;
}

.Knoeutility_beneficios {
  display: flex;
  align-items: flex-end;
  width: 24rem;
  height: 13rem;  
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #0D0146 0%, rgba(13, 1, 70, 0.56) 44.27%, rgba(91, 198, 203, 0.67) 100%),url(../../assets/images/landing/Noise.svg),conic-gradient(from 180deg at 50% 50%, #5BC6CB 0deg, #5BC6CB 90deg, #5BC6CB 180deg, #5BC6CB 270deg, rgba(13, 1, 70, 0.6) 360deg);
  border-radius: 50px;
  cursor: pointer;
}
.Knowutility_faqs {
  width: 90%;
  margin-top: 6%;
}
.ocultar-img{
  display: none;
}
.Knowutility_faqs h2 {
  font-family: "Azonix";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 94px;
  color: #1a1c1f;
}
.Knowutility_faqsList {
  margin-top: 3%;
}

/*estilo para card que está despues de los faqs*/
.Knowutility_animatecard {
  margin-top: 5rem;
}
.Knowutility_animatecard_card {
  position: relative;
  width: 49rem;
  height: 17.6rem;
  border-radius: 40px;
}
.Knowutility_animatecard_card img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.Knowutility_animatecard_text {
  display: flex;
  position: absolute;
  margin-left: 8%;
  top: 8rem;
}
.Knowutility_animatecard_text div p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

.Knowutility_animatecard_text div h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 35px;
  color: #ffffff;
}
.Knowutility_animatecard_text button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 8rem;
  height: 3rem;
  background: #ffffff;
}
.Knowutility_animatecard_text_buttom{
    display: flex;
    align-items: end;
    margin-left: 7rem;
}
.Knowutility_animatecard_text_buttom a{
  text-decoration: none;
}
.Knowutility_animatecard_text_buttom button{
    cursor: pointer;
    border:none;
    border-radius: 10px;
}
.Knowutility_animatecard_text_buttom button:hover{
  border: 2px solid #fff;
  background: #000;
  color: #fff;
} 
