
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(74, 55, 193, 0.7) -20.16%, rgba(74, 70, 99, 0) 100%);
    border: 1px solid #896126;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 3%;

}

.timer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15%;
    color: #fff;
}
.timer-list h4{
    font-family: "Azonix";
}

.timer-center-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.timer-center-h4-p{
    display: flex;
    align-items: center;
    gap: 100%;
}
.timer-center-h4-p>h4{
 font-family: 'Azonix';
}
.timer-center-names{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
}
.timer-center-names-p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    margin-top: 9%;
}
.timer-center-h4-p-seconds>h4{
    margin-top: 5%;
}
