.finalHome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}
.finalHome_text {
  display: flex;
  width: 90%;
  gap: 8%;
  justify-content: center;
  align-items: center;
}
.finalHome_text_paragraph {
  width: 40%;
}
.finalHome_text_paragraph p {
  color: #000000;
}
.finalHome_container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.finalHome_card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: purple;
  width: 90%;
  height: 36rem;
  border-radius: 40px;
}
.finalHome_titleCard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 34%;
}
.finalHome_titleCard h2 {
  font-family: "Azonix";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 7%;
}
.finalHome_titleCard a{
  margin-left: 25%;
  text-decoration: none;
}
.finalHome_card_image{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.finalHome_titleCard_counter {
    position: absolute;
    top: 70%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.titleCard_counter_button{
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

.titleCard_counter_button a{
  width: 90%;
  display: flex;
  text-decoration: none;
  justify-content: end;
}
.titleCard_counter{
    width: 20rem;
    height: 4rem;
  
}
.finalHome hr{
  margin: 5% auto;
}