.footerV2{
    width: 100%;
    display: flex;
    background: linear-gradient(270deg, #171717 39.24%, #1D1348 98.18%);
    padding: 2% 0;
    align-items: center;
}
.footerV2 h3{
    width: 70%;
    color: #FFFF;
    margin-left: 5%;
    font-family: var(--font-family-azonix);
    font-weight: 100;
}

.footerV2 button{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #1e1e1e;
    margin-left: 2%;
}
.footerV2 .btn {
  width: 100%;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  background: #ffffff;
  
}
.footerV2 .btn img {
  width:40%;
  margin-left: 5%;
}

.video-collection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 40rem;
    margin-bottom: 5%;
    margin-top: 2%;
}
.footerV2 a{
  text-decoration: none;
}