.utility{
    background-color: #FFFF;
}
.nav--time{
    width: 20%;
}
.nav--time>h1{
    text-decoration: none;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    font-family: 'Azonix';
    font-size: 2.5vw;
    padding-bottom: 4%;
}
.utility--nav{
    margin-top: 16%;
    margin-bottom: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.utility--nav>img{ 
    position: absolute;
    width: 80%;
    height: auto;
    border-radius: 80px;
    min-height: 150px;
    margin-top: 2%;
}
 
 .nav-button .btn{
    display: flex;
    cursor: pointer;
    width: 10%;
    border-radius: 10px;
    background: #ffffff;
    position: relative;
    left: 73%;
    margin-top: -9%;
}
.nav-button .btn:hover{
    background: #000000;
}
.sub-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16%;
    margin-top: -1%;
    margin-bottom: 3%;
}
.img img {
    width: 100%;
    border: 4px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.11));
    border-radius: 16px;
}
.icons-nav{
    display: flex;
    align-items: center;
    gap: 50%;
    margin-top: 6%;
    
}
.nav-button img{
    width: 21%;
}
.nav-button a{
    text-decoration: none;
}

.utility__list{
    width: 90%;
}
.utility__list ul{
    width: 90%;
    display: flex;
    margin-left: 8%;
}
.utility__list ul li{
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}
.utility__list ul li p{
    color: #414141;
    font-family: 'Azonix';
    font-size: 14px;
    cursor: pointer;
    transition: 1s;
}
.utility__list ul li p:hover{
    font-size: 16px;
    text-decoration: underline 2px;
    transition: 1s;
}
.utility__list hr{
    width: 100%;
    background-color: #000000;
    border-style: none;
    margin-left: 5%;
    height: 1px;

}
.v-line{
    border-left: 2px solid #000000;
    height:70%; 
    margin:0  23px;
}

/*utility nft*/
.desactive{
    display: none;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nfts-cards-sidebar{
    width: 90%;
}
.nfs-sidebar{
    width: inherit;
    display: flex;
    margin-left: 5%;

}


.nfts{
    width: 100%;
    background-color:#FFFF;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-content: center;
    justify-self: center;
    margin-top: 2%;
}
.nfts--botton{
    width: 30%;
    background: linear-gradient(270deg, #171717 39.24%, #1D1348 98.18%);
    border-radius: 11px;
    margin: 3% 35%;
    padding: 1% 0;
}
.nfts--botton p {
    text-align: center;
    color: #FFFF;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
}

.utility--collection{
    width: 90%;
    background-color:#FFFF;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.roadmap{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 8% 0;
}

.faqs-utility{
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.faqs-center{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%  0 5% 8%;
}
.faqs-suscribe{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

.faqs-suscribe h3{
    width: 80%;
    font-family: 'Azonix';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    text-align: center;
}
.faqs-suscribe p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-top: 2%;
    margin-bottom: 5%;
}
.faqs-a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 4%;
}

.faqs_form_input{
    display: flex;
    justify-content: center;
    position: relative;
    width: 70%;
    margin-top: 3rem;
  }
  .faqs_form_input input{
      outline: 0;
      border: none;
      width: 70%;
  }
  .faqs_form_input hr {
    position: absolute;
    background-color: #000000;
    width: 73%;
    top: 2rem;
  }
  .faqs_form_input button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80%;
    top: -2rem;
    background: black;
    border-radius: 23px;
    height: 3rem;
    width: 3rem;
    box-shadow: inset 0 0 0 1px #ffffff;
    cursor: pointer;
  }
@media (max-width: 1160px) {
    .nav-button .btn{
        margin-top: -12%;
    }
  }
