:root body {
    --font-family-azonix:'Azonix'; 
    --font-family-poppins:'Poppins',sans-serif; 
    margin: 0;
}


.utility{
    background-color: #FFFF;
}
.utility__list ul{
    width: 90%;
    display: flex;
    margin-left: 8%;
}
.utility__list ul li{
    display: flex;
    align-items: center;
}
.utility__list ul li p{
    color: #414141;
    font-family: var(--font-family-azonix);
    font-size: 15px;
    cursor: pointer;
    transition: 1s;
}
.utility__list ul li p:hover{
    color: #000000;
    font-size: 18px;
    text-decoration: underline 2px;
    transition: 1s;
}
.utility__list hr{
    background-color: #000000;
    border-style: none;
}
.v-line{
    border-left: 2px solid #000000;
    height:70%; 
    margin:0  23px;
}

/*utility nft*/
.desactive{
    display: none;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nfts{
    width: 90%;
    background-color:#FFFF;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    align-content: center;
    justify-content: center;
    margin-top: 2%;
}
.nfts--botton{
    width: 30%;
    background: linear-gradient(270deg, #171717 39.24%, #1D1348 98.18%);
    border-radius: 11px;
    margin: 3% 0;
}
.nfts--botton p {
    text-align: center;
    color: #FFFF;
    font-size: 15px;
}

.utility--collection{
    width: 90%;
    background-color:#FFFF;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.roadmap{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 8% 0;
}

.faqs-utility{
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.faqs-center{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%  0 5% 8%;
}
.faqs-h2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}
.faqs-h2 h2{
    font-family: var(--font-family-azonix);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}
.faqs-h2 p{
    color: #000000;
    margin-top: -2%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 4%;
}