@font-face {
    font-family: 'Azonix';
    src: url('../../assets/fonts/Azonix.otf') format('truetype');
  }
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,500;0,700;1,300&family=Poppins:wght@300;400;500&display=swap');
  .home{
    font-family: 'Azonix';
    font-family: 'Poppins', sans-serif;
  }