.listWhite {
  display: flex;
}

.listWhite_image {
  position: relative;
  width: 40%;
  height: 45rem;
  background-color: #d2cfd2;
  border-radius: 0 0 15%;
}
.listWhite_image a{
 text-decoration: none;
 cursor: pointer;
}
.listWhite_image h3{
  font-family: 'Azonix';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #0D0146;
}
.listWhite_logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  width: 100%;
  gap: 1rem;
}
.listWhite_image .listWhite_logo img {
  height: 29px;
  width: 29px;
}
.listWhite_Percentage {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listWhite_Percentage h2 {
  font-family: "Azonix";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 20px;
  color: #1e1e1e;
}
.listWhite_image img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 15%;
}
.listWhite_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.listWhite_form h2 {
  font-family: "Azonix";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 34px;
  color: #1e1e1e;
}
.listWhite_form p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    color: #000000;
}
.listWhite_form_welcome{
  
  margin-left: 8%;
}
.listWhite_form_welcome h2{
  font-family: "Azonix";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 38px;
  color: #1E1E1E;
  margin-bottom: 2%;
}
.listWhite_form_welcome p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #000000;
}
.listWhite_form_welcome button{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0D0146;;
  border-radius: 23px;
  height: 3rem;
  width: 3rem;
  box-shadow: inset 0 0 0 1px #ffffff;
  cursor: pointer;
}
.listWhite_form_container{
  width: 80%;
}
.listWhite_form_label{
  margin-left: 15%;
}
.listWhite_form_label label{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 38px;
color: #000000;

}
.listWhite_form_input{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 3rem;
}
.listWhite_form_input label{
  position: absolute;
  bottom: 3rem;
  right: 60%;
  font-family: "Poppins", sans-serif;
}
.listWhite_form_input input{
    outline: 0;
    border: none;
    width: 70%;
}
.listWhite_form_input hr {
  position: absolute;
  background-color: #0D0146;;
  width: 73%;
  top: 1rem;
}
.listWhite_form_input button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 80%;
  top: -2rem;
  background: #0D0146;;
  border-radius: 23px;
  height: 3rem;
  width: 3rem;
  box-shadow: inset 0 0 0 1px #ffffff;
  cursor: pointer;
  transform: rotate(-225deg);
}
/*ESTILOS PARA EL MODAL*/
.modal_container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
}
.modal_element{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30rem;
height: 20rem;
margin: auto;
border-radius: 20px;
background: #ffffff;
box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
transition: all 500ms ease;
}
.modal_element h3{
  font-family: "Azonix";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.modal_element p{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: 2rem 0;
}
.modal_element a{
  display: contents;
}
.modal_element .modal_btn{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 33%;
  height: 3rem;
  border-radius: 10px;
  padding: 0.8rem;
  color: #ffffff;
}

.modal_element .modal_btn img{
  margin-left: 15%;
}

.listWhite_logo a{
  display: flex;
  align-items: center;
  gap: 14%;
  text-decoration: none;
  color: #000000;
}