.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header_text {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0rem 10rem 0rem;
  background-color: #ffffff;
  position: relative;
  z-index: 99;
}
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  gap: 1rem;
}
.header_logo h3 {
  font-family: "Azonix";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #0d0146;
}
.header_logo img {
  width: 29px;
  height: 29px;
  margin-left: 28%;
}
.header_textLine {
  width: 1px;
  height: 174px;
  background: #000000;
  border: 1px solid #000000;
}
.header_paragraph {
  display: flex;
  width: 37%;
  gap: 2rem;
}
.header_paragraph p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
}
.header_button{
  width: 33%;
  display: flex;
  margin-top: 3.6%;
}
.header_button button{
    background: #1E1E1E;
    border-radius: 10px;
    color: #ffffff;
    padding: 0.8rem;
    cursor: pointer;
    margin-left:3rem;
    width: 18rem;
}
.header_button button img{
    margin-left: 1rem;
}
