.navbar {
    display: flex;
    justify-content: center;
    gap: 18%;
    padding-top: 2.5rem;
    position: relative;
    z-index: 99;
    background: #fff;
}
.navbar_firstbloq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
}
.navbar_firstbloq input {
  width: 385px;
  height: 40px;
  border: 0.5px solid #b9b9b9;
  border-radius: 21.5px;
  padding-left: 2.5rem;
  position: absolute;
}
.navbar_firstbloq input::placeholder{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #AAAAAA;
}
.navbar_firstbloq>img {
  width: 29px;
  height: 29px;
  left: 145px;
  top: 33px;
}
.navbar_firstbloq .navbar_title{
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  font-family: "Azonix";
}

.navbar_secondbloq .navbar_market {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #0d0146;
}
  .navbar_secondbloq .navbar_market:hover{
    text-decoration: underline;
}
.navbar_secondbloq ul li:hover{
  text-decoration: underline;
}
.navbar_secondbloq a{
  text-decoration: none;
}
.navbar_secondbloq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.navbar_secondbloq ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.navbar_secondbloq ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #0d0146;
}
.navbar_secondbloq ul li p{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: linear-gradient(90deg, #0D0146 10.47%, #5BC6CB 44.88%, #3307F0 97.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.navbar_secondbloq ul li:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #0d0146;
  cursor: pointer;
}
.navbar_secondbloq img{
    cursor: pointer;
}
.navbar_secondbloq button {
  width: 139px;
  height: 40px;
  left: 1158px;
  background: #0d0146;
  border-radius: 21.5px 0px 21.5px 21.5px;
  color: #ffff;
  cursor: pointer;
  margin-bottom: 0;
}
.navbar_secondbloq button a{
  color: #ffff;
  text-decoration: none;
  font-size: 11.5px;
}

.navbar_firstbloq a{
  display: flex;
  gap: 5%;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-right: 2%;
}
.input-icon>img {
  color: #191919;
  position: absolute;
  width: 8%;
  left: 5%;
  transform: translateY(-50%);
  margin-top: 7%;
  z-index: 99;
}

.input-icon{
  position: relative;
  width: 271px;
  display: flex;
  align-items: center;
}