.faqs {
  width: 90%;
}
.faqs_list {
    margin-top: 3rem;
}
.faqs_list:hover{
    color: blue;
}
.faqs_list span {
  margin-left: 2%;
  font-family: 'Poppins';
font-style: normal;
font-weight: bold;
font-size: 1rem;
line-height: 20px;
}
.faqs_list buttom {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  color: #000000;
  margin-left: 2%;
  margin-top: 0;
}
.faqs_list buttom{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.faqs_list buttom:hover{
    color: blue;
}
.faqs_list buttom img {
  margin-left: 64%;
}

.faqs_line {
  width: 106%;
  height: 1px;
  border-bottom: 2px solid black;
}
