.faqs {
  width: 90%;
}
.faqs_list {
    margin-top: 2rem;
}

.faqs_list span {
  font-family: 'Poppins';
font-style: normal;
font-weight: bold;
font-size: 1rem;
line-height: 20px;
}
.faqs_list buttom {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  margin-left: 2%;
  line-height: 30px;
  margin-bottom: 2%;

}

.faqs_list buttom:hover{
    color: blue;
}
.faqs_list buttom img {
  margin-left: 64%;
}

.faqs_line {
  width: 106%;
  height: 1px;
  border-bottom: 2px solid black;
}
.faqs-icons{
  display: flex;
  justify-content: inherit;
  margin-top: 2%;
  margin-bottom: -1%;
}
.faqs_list p{
  font-family: 'Poppins';
  text-align: justify;
  margin-bottom: 3%;
  margin-left: 2%;
}
.close{
  display: none;
}