.faqs {
  width: 90%;
}
.faqs_list {
    margin-top: 1rem;
}

.faqs_list span {
  font-family: 'Poppins';
font-style: normal;
font-weight: bold;
font-size: 1rem;
line-height: 20px;
/*margin-top: -1%;*/
}
.faqs_list button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  margin-left: 4%;
  line-height: 30px;
  margin-bottom: 1.5%;
  width: 100%;
  border: 0;
  background: white;
}

.faqs_list button img{
  margin-left: 64%;
}

.faqs_line {
  width: 106%;
  height: 1px;
  border-bottom: 2px solid black;
}
.faqs-icons{
  display: flex;
  justify-content: space-between;
   width: 95%;
  margin-top: 2%;
  margin-bottom: -1%;
}
/*.open-p{
  width: 103%;
}*/
.open-p p{
  font-family: 'Poppins';
  text-align: justify;
  margin-bottom: 3%;
  margin-left: 4%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  
}
.faqs_list:hover button {
  color: blue;
}

.close{
  display: none;
}
.faqs--p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  margin-top: -1%;
}