hr{
    background-color:#C9C9C9 ;
    width: 89%;
    height: 0.3px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #171717;
}

.footer__section{
    display: flex;
    padding: 2% 4%;
    justify-content: center;
    gap: 3%;
}
.info{
    width: 26%;
    margin-right: 10rem;

}

.info__text{
    display: flex;
    margin-top: 4%;
    margin-bottom: 10%;
    gap: 1rem;
    line-height: 18px;
    align-items: center;
}
.info__text h6{
    font-family: 'Azonix';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

}
.inf__p{
    font-size: 12px;
}
.community{
    margin-top: 1.313rem;
}
.community>ul>li{
    display: flex;
    align-items: start;
    padding-bottom: 11%;
}
.community ul li:hover{
    text-decoration: underline 1px;
    transition: 1s;
}
.community>ul>li>img{
    margin-right: 7%;
}

.profile-footer>ul>li{
    padding-bottom: 11%;

}
.profile-footer ul li:hover{
    
    text-decoration: underline 1px;
    transition: 1s;
}
.contrast{
    position: absolute;
    width: 50%;
    left: -30%;
    top: 26%;
    background: radial-gradient(217.68% 217.68% at 27.97% 49.05%, #5AE9FD 0%, rgba(90, 233, 253, 0) 100%)   ;
    border: 75.1452px solid #5BC6CB;
    filter: blur(179.069px);
    border-radius: 639.534px;
    transform: matrix(-0.98, 0.25, 0.21, 0.97, 0, 0);
}
.terms{
    width: 90%;
    display: flex;
    align-items: baseline;
    font-size: 10px;
    gap: 30%;
    margin-left: 10%;
}
.copy{
    width: 70%;
}
.copy>p{
    padding: 10px 0;
    text-align: center;
}
.copy__term{
    width: 90%;
    display: flex;
    padding: 20px 20px 40px 20px;

}
.copy__term>a{
    padding-left:  0 24%;
    font-size: 10px;
    padding-left: 30px;
}

.footer h4{
    color:#fff;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Poppins',sans-serif;
}
.footer  li{
    list-style: none;
}
.footer a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
}

.footer p{
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    text-align: justify;

}
.community{
    margin-top: 1.313rem;
}
.community h4{
    margin-bottom: 12%;
}
.market{
    margin-top: 1.313rem;
}
.market> h4{
    margin-bottom: 13%;
}
.market a:hover{
    text-decoration: underline 1px;
    transition: 1s;
}
.profile-footer{
    margin-top: 1.313rem;
}
.profile-footer>ul{
    margin-top: 15%;
}
.footer-wallet{
   margin-top: 1.313rem;
}
.footer-wallet>h4{
    margin-bottom: 13%;
}
.footer-wallet a:hover{
    text-decoration: underline 1px;
    transition: 1s;
}