button{
    font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #1e1e1e;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40%;
  height: 3rem;
  border-radius: 10px;
  padding: 0.8rem;
  background: #ffffff;
  
}
.btn img {
  width: 23%;
  margin-left: 15%;
}
