button{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #1e1e1e;
    margin-bottom: 3%;
  }
  .btnV2 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Azonix";
    width: 21rem;
    height: 4rem;
    border-radius: 19px;
    padding: 0.8rem;
    background: #ffffff;
    
  }
  .btnV2 img {
    width: auto;
    margin-left: 15%;
  }
  